[submodule "scfmModules"]
	path = scfmModules
	url = https://github.com/tati-micheletti/scfmModules.git
[submodule "docs/SpaDESInAction2"]
	path = docs/SpaDESInAction2
	url = https://github.com/tati-micheletti/SpaDESinAction2.git